@model BachelorParis2024.Domain.Models.EventOfferModel

@{
    ViewData["Title"] = "Billetterie";
}



@section header {
    <div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%" />
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height="30%" />
        </div>
        <h2 class="js-eventsPage-title d-block d-flex align-items-start justify-content-center">Billetterie</h2>
    </div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <div class="table-background">
            <table class="table table-striped table-hover table-responsive align-middle">
                <thead>
                    <tr class="border-bottom">
                        <th class="hidden" scope="col">Id</th>
                        <th scope="col">Sport</th>
                        <th scope="col">&Eacutepreuve</th>
                        <th scope="col">Date et heure</th>
                        <th scope="col">Lieu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom">
                        <td class="hidden">@Model.EventToDisplay.Id</td>
                        <td class="js-sportNameValue">@Model.EventToDisplay.Sport</td>
                        <td>@Model.EventToDisplay.Description</td>
                        <td>@Model.EventToDisplay.Date</td>
                        <td>@Model.EventToDisplay.Location</td>
                    </tr>
                </tbody>
            </table>
            <section class="offerSelection">
                <h4 class="chooseOfferFormTitle">Choisissez une offre:</h4>
                <div class="chooseOfferForm flex-centered row row-cols-sm-1 row-cols-md-2 row row-cols-lg-4">
                    @foreach (var offer in Model.Offers) {
                        <label class="col" for="@offer.Name)">
                            <div class="card card__offer card__chooseOffer bg_gold container container-fluid d-flex">
                                <h3 class="card-header offerTitle offerTitle_small text-white">@offer.Name</h3>
                                <img class="img-offre img-offreSelection img-fluid" src="~/images/logos_jo/@offer.ImageUrl" alt="@offer.Name" />
                                <p>@offer.Description</p>
                                <p>@Html.DisplayFor(ModelItem => offer.Price)€</p>
                            </div>
                            <input type="radio" name="offerSelection" id="@offer.Name" />
                        </label>
                    }
                </div>
                <div class="btn btn_outline_blue addToCardButton js-addToCard" title="ajouter au panier">Ajouter au panier</div>
                
            </section>
            
            <!--formulaire caché qui communique le nom du sport au controller EventsController
            pour réafficher la liste des événements lorsque l'on ferme la page booking avec le bouton'
            -->
            <form id="hiddenFormCLoseBookingPage" asp-controller="Events" asp-action="DisplayEventsBySport" method="post" value="">
                @Html.AntiForgeryToken()
                <input type="hidden" name="valueFromHiddenForm" id="hiddenInputCLoseBookingPage" />
                <button type="submit" class="btn btn_outline_black js-buttonBackToEventList" title="fermer la page">X</button>
            </form>
            <!---->
        </div>
    </div>
}
