@using BachelorParis2024.Domain.Models;

@model TicketOrderViewModel;

@{
    ViewData["Title"] = "Mes commandes";
}



@section header {
    <div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%" />
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height="30%" />
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Mon espace personnel</h2>
    </div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <div class="cart table-background">
            <div class="col container container-fluid" id="js-cartContainer">
                @if (Model == null || !Model.Orders.Any())
                {
                    <h4>Vous n'avez aucune commande enregistrée pour le moment.</h4>
                }
                else
                {
                    <h3 class="checkoutTitle">Mes commandes</h3>
                    @foreach(var o in Model.Orders)
                    {
                        <section class="order">
                            <div class="row row-cols-lg-3 orderTitle">
                                <div class="col">
                                    <h5>Commande n°</h5>
                                    <p>@o.Id</p>
                                </div>
                                <h5>Du @o.OrderDate.ToString("dd/MM/yy à HH:mm")</h5>
                                <h4>Montant: @o.TotalAmount</h4>
                            </div>

                            @foreach (var item in Model.Tickets)
                            {
                                <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 orderItem js-backToList js-pointer js-ticketDetails">
                                    <div class="col align-middle">
                                        <p>Offre @item.OfferName</p>
                                        <p>@item.OfferDescription</p>
                                        <p>@item.Price</p>
                                    </div>
                                    <div class="col col-5">
                                        <p>pour:</p>
                                        <h5>@item.Event</h5>
                                        <h4>@item.Sport</h4>
                                        <p>le @item.Date.ToString("dd/MM/yy à HH:mm")</p>
                                        <p>@item.Location</p>
                                    </div>
                                    <div class="col col-1">
                                        <p>Qté:</p>
                                        <p>@item.Quantity</p>
                                    </div>
                                    <div class="col total">
                                        <p>Total:</p>
                                        <p>@item.Total</p>
                                    </div>
                                </div>
                            }
                        </section> 
                    } 
                }
                
                <section class="js-cartManage">
                    <div class="back js-pointer js-backToList link">
                        <img class="d-inline" src="~/images/icones/back.png" alt="retour à la liste" width="20rem" />
                        <p class="d-inline text-black">Retour à la liste des événements</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/orders.js" asp-append-version="true"></script>
}