@model IEnumerable<BachelorParis2024.Domain.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%" />
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height="30%" />
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Espace administrateur</h2>
    </div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <div class="cart table-background">
            <div class="col container container-fluid" id="js-cartContainer">

                <h4>Analyse des ventes</h4>

                
                <table class="table table-sm table-striped table-hover table-responsive align-middle">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}