<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bachelor_developpeur_c#_Eval_Paris2024</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/reset.css" />
        <link rel="stylesheet" href="~/css/homePage.css" />
        <link rel="stylesheet" href="~/css/offers.css" />
        <link rel="stylesheet" href="~/css/events.css" />
        <link rel="stylesheet" href="~/css/shop.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    </head>


@{
    <!--Mise en place d'un layout avec une condition d'appliquer un layout différent
    sur la page d'accueil sans faire un layout spécifique-->
    <!--Instance de la classe ViewContext qui encapsule les informations relatives au rendu d'une vue.
    RouteData obtient ou définit les données d'itinéraire d'URL.-->
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var isNotHomepage = !(controller == "Home" && action == "Index");
}

    


<body class="@(isNotHomepage ? "with-background" : "")">
         

        <header>
        <div id="@(isNotHomepage ? "header" : "header__homepage")" class="container container-fluid text-center flex-centered">
                @RenderSection("header")
            </div>
        </header>

    <nav class="@(isNotHomepage ? "smallerNavbar" : "") navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid bg_gold">
                <a class="navbar-brand ms-5" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo" src="~/images/logos_jo/eiffel-tower-svgrepo-com.svg" alt="icone tour effeil" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" collapse navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-2">
                        <a class="nav-link text-dark @(controller == "Home" && action == "Index" ? "active" : "")" aria-current="@(controller == "Home" && action == "Index" ? "page" : "")" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller == "Events" ? "active" : "")" aria-current="@(controller == "Events" && action == "Index" ? "page" : "")" asp-area="" asp-controller="Events" asp-action="Index">
                            Evénements
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller == "Shop" ? "active" : "")" aria-current="@(controller == "Shop" && action == "Index" ? "page" : "")" asp-area="" asp-controller="Shop" asp-action="Index">
                                Billetterie en ligne
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller == "OfferEF" ? "active" : "")" aria-current="@(controller == "OfferEF" && action == "Index" ? "page" : "")" asp-area="" asp-controller="OfferEF" asp-action="Index">
                                Gestion des offres
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-5">
                        <li class="nav-item me-2">
                            <a class="nav-link text-dark @(controller == "Home" && action == "Connection" ? "active" : "")" aria-current="@(controller == "Home" && action == "Connection" ? "page" : "")" asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                                <img src="~/images/icones/user2.png" alt="connexion" height="35"/>
                                Connexion
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark @(controller == "Home" && action == "ShoppingCard" ? "active" : "")" aria-current="@(controller == "Home" && action == "ShoppingCard" ? "page" : "")" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Voir mon panier"
                               asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                                    <img src="~/images/icones/panier.png" alt="panier" height="35"/>
                            </a>
                        </li>
                    </ul>
                
                </div>
            </div>
        </nav>



        <div id="main" class="container full-width">
            @RenderSection("main")
        </div>

        <footer class="border-top footer text-muted bg_gold">
            <div class="container container-fluid">
                &copy; 2025 - Bachelor_developpeur_C#_Eval_Paris2024 - <br />
                <a href="https://www.flaticon.com/fr/icones-gratuites/panier" title="panier icônes">Panier icônes créées par Freepik - Flaticon</a> <br />
                <a href="https://www.flaticon.com/fr/icones-gratuites/sidentifier" title="s'identifier icônes">S'identifier icônes créées par Good Ware - Flaticon</a> <br />
                https://toppng.com/free-image/the-phryges-official-mascots-of-paris-2024-abstract-backgrounds-PNG-free-PNG-Images_493291
            <a href="https://www.flaticon.com/fr/icones-gratuites/billet" title="billet icônes">Billet icônes créées par Freepik - Flaticon</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
