
@{
    ViewData["Title"] = "Evénements";
}

@model IEnumerable<BachelorParis2024.Mocks.EventsMock>

@section header {
<div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%"/>
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height ="30%"/>     
        </div>
        <h2 class="js-eventsPage-title d-block d-flex align-items-start justify-content-center"></h2>
</div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <div class="table-background">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Discipline</th>
                        <th scope="col">Description</th>
                        <th scope="col">Lieu</th>
                    </tr>
                </thead>
                @foreach (var eventItem in @BachelorParis2024.Mocks.EventsMock.ListEvents)
                {
                <tbody>
                    <tr>
                        
                        <td>@eventItem.Sport</td>
                        <td>@eventItem.Description</td>
                        <td>@eventItem.Sport</td>
                        <td>@eventItem.Date</td>
                    </tr>
                   
                </tbody>
                }   
            </table>   
        </div>
    </div>
}
